::selection {
  color: black;
  background: pink;
}

::-moz-selection {
  color: black;
  background: pink;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  height: 100%;
}

#__next {
  height: 100%;
}

.centerRow {
  display: flex;
  justify-content: center;
}

.centerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  color: #e0e0e0;
  height: 5vh;
  padding: 0.25rem 0.5rem;

  transition: background-color 150ms ease-in-out;
}

header:hover {
  background-color: #121212;
}

nav>* {
  margin: 0 0 0 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: inline;
  font-size: 1rem;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}