.albumContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3rem;
}

.albumCard {
    display: flex;
    justify-content: center;
    width: 18rem;
    margin-bottom: 4rem;
}

.albumStack {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    place-items: center;

    transition: all 250ms ease-in-out;
}

.albumStackPhoto {
    position: relative;
    grid-column: 1 / 11;
    grid-row: 1 / 11;
    width: 50%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border: 1px solid #666;

    transition: all 250ms ease-in-out;
}

.albumTitle {
    /* z-index: 2; */
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    grid-column: 1 / 11;
}